$primary-bg-color: #f9e8f2;

$secondary-bg-color: #fff9fd;

$accent-bg-color: #f2bea9;

$font-header: 'Anton', sans-serif;

$font-paragraph: 'Noto Sans', sans-serif;

$mobile: "only screen and (max-width: 600px)";
