---
title: Welcome to Middleman
---
  <header>
    <h2>Coffeetime</h2>
    <nav>
      <ul>
        <li><a href="#">One link</a></li>
        <li><a href="#">One more link</a></li>
        <li><a href="#">Yet another one</a></li>
      </ul>
    </nav>
  </header>
<section class="hero-section">
  <h1>Hello there.</h1>
</section>
<section class="section-secondary-color">
  <div class="text-container">
    <h2>Second header</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <button type="button" name="button">Click me</button>
  </div>
</section>
<section class="section-primary-color">
  <div class="wrapper-waist">
    <div class="text-container-small align-left">
      <h2>Some info</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="text-container-small align-left">
      <h2>Some more info</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
</section>
<section class="fifty-fifty">
    <div class="col-one">
      <h2>Header 1</h2>
      <h2>Header 2</h2>
    </div>
    <div class="align-left col-two">
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</section>
<section class="section-secondary-color flex">
  <h2 id="footer-header">Coffeetime</h2>
  <div class="flex-end">
    <div class="align-left">
      <h3 class="align-left">More reading</h3>
      <a href="#">About</a><br><br>
      <a href="#">Contact</a><br><br>
      <a href="#">More info</a>
    </div>
    <div class="align-left">
      <h3 class="align-left" >Sites</h3>
      <a href="#">Projects</a><br><br>
      <a href="#">Symbols</a><br><br>
      <a href="#">Pages</a>
    </div>
    <div class="align-left">
      <h3 class="align-left">Help</h3>
      <a href="#">faq</a><br><br>
      <a href="#">Help</a><br><br>
      <a href="#">More</a>
    </div>
  </div>

</section>
